div {
    display: block;
}

.grid-container {
    margin-top: 40px;
    position: relative;
    padding: 12px;
    cursor: default;
    -webkit-touch-callout: none;
    -ms-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    background: #bbada0;
    border-radius: 6px;
    width: 450px;
    height: 450px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.grid-row {
    margin-bottom: 12px;
}

.grid-cell {
    width: 90px;
    height: 90px;
    margin-right: 12px;
    float: left;
    border-radius: 100px;
    background: rgba(238, 228, 218, 0.35);
}
